/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

@font-face {
  font-family: 'montserratregular';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
    url('fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #333;
  font-family: 'montserratregular';
}

h1,
h2,
h3 {
  line-height: 1.5;
}

/* Utilities class */
.container {
  max-width: 1100px;
  margin: auto;
}

.text-primary {
  color: #ff0202;
}

/* Navbar */
#navbar {
  background: #fff;
  box-shadow: 5px 0 5px #b4b4b4;
  left: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
}

#navbar .logo a {
  color: #333;
  font-weight: bolder;
  text-decoration: none;
}

#navbar .nav-links {
  align-items: center;
  display: flex;
  list-style: none;
}

#navbar .nav-links a {
  align-items: center;
  color: #333;
  font-weight: 600;
  margin: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar .nav-links a:hover {
  color: #ff0202;
}

#navbar .follows {
  align-items: center;
  display: flex;
}

#navbar .follows a {
  color: #333;
  margin: 0 0.5rem;
  text-decoration: none;
}

#navbar .follows a .facebook:hover {
  color: #3b5998;
}

#navbar .follows a .twitter:hover {
  color: #00acee;
}

#navbar .follows a .youtube:hover {
  color: #c4302b;
}

#navbar .follows a .search:hover {
  color: #c4c4c4;
}

/* Showcase */
#showcase {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  text-align: center;
}

#showcase .showcase-contents {
  flex: 1;
  justify-content: center;
  align-items: center;
  max-height: 400px;
}

#showcase .showcase-contents div {
  max-width: 100%;
}

#showcase .showcase-contents div img {
  display: block;
  max-width: 99%;
}

#showcase .showcase-contents p {
  color: #9c9c9c;
  font-size: 0.75rem;
  padding-top: 0.25rem;
  text-transform: uppercase;
}

/* Main Content */
#main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#main-content #content {
  flex: 2;
  margin-right: 1rem;
}

#main-content #content .content-links {
  margin: 0.5rem;
  text-align: right;
}

#main-content #content .content-links a {
  color: #9c9c9c;
  margin: 0 0.5rem;
  text-decoration: none;
}

#main-content #content .content-links a:hover {
  color: #646464;
}

#main-content #content .article {
  display: flex;
  margin-bottom: 1rem;
}

#main-content #content .article .article-img {
  flex: 1;
}

#main-content #content .article .article-content {
  border-top: #cccbcb 0.05rem solid;
  display: flex;
  flex: 2;
  padding-left: 1rem;
}

#main-content #content .article .article-content .article-text {
  padding: 1rem;
}

#main-content #content .article .article-content .article-text p {
  color: #9c9c9c;
  font-size: 0.75rem;
  padding-top: 0.25rem;
  text-transform: uppercase;
}

/* Article Shares Dropdown */
.dropdown {
  text-align: center;
}

.dropdown i {
  background: #cccbcb;
  border: #cccbcb solid 1px;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 8px;
  text-decoration: none;
}

.dropdown .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown .dropdown-content a {
  text-decoration: none;
}

.dropdown .dropdown-content i {
  background: #fff;
  border: #cccbcb solid 1px;
  color: #cccbcb;
  display: block;
  margin: -1px 0;
  padding: 8px;
}

.dropdown .dropdown-content .facebook:hover {
  background: #3b5998;
  /* border: none; */
  color: #fff;
}
.dropdown .dropdown-content .twitter:hover {
  background: #00acee;
  border: none;
  color: #fff;
}
.dropdown .dropdown-content .pinterest:hover {
  background: #c8232c;
  border: none;
  color: #fff;
}

#main-content #content .article .article-content .article-text .lead {
  color: #646464;
  font-family: 'latoregular', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  text-transform: lowercase;
}

#main-content #aside img {
  display: block;
  max-width: 98.3%;
}
